In [1]:
import pandas as pd
import numpy as np

# 1. Apple Twitter Data Extraction

In [4]:
# Extract tweets from tweet.csv file into a dataframe
tweet_df = pd.read_csv('Tweet.csv')
print(len(tweet_df))
tweet_df.head()

3717964

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

In [5]:
# Extract tweets about AAPL from twitter dataset
aapl_tweets = tweet_df[tweet_df['body'].str.contains('AAPL', case=False, na=False)]
aapl_tweets['post_date'] = pd.to_datetime(aapl_tweets['post_date'], unit='s')
aapl_tweets.head()

/var/folders/sf/wjf5n1r162zfj7_jsjdk2dkm0000gn/T/ipykernel_49271/1031716433.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aapl_tweets['post_date'] = pd.to_datetime(aapl_tweets['post_date'], unit='s')

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,2015-01-01 00:00:57,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,2015-01-01 00:01:36,Insanity of today weirdo massive selling. $aap...,0,0,0
4,550443807834402816,i_Know_First,2015-01-01 00:10:05,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1
5,550443808606126081,aaplstocknews,2015-01-01 00:10:05,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1
6,550443809700851716,iknowfirst,2015-01-01 00:10:05,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

In [6]:
# Save the AAPL tweets to csv
aapl_tweets.to_csv('AAPL_Tweets.csv', index=False)